<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.hotel.mapper.RoomMapper">
	
	<select id="getRoomByCond" resultMap="com.example.hotel.mapper.CommonMapper.roomMap">
		select *
		from room r left outer join roomType rT on rT.roomTypeId = r.roomTypeId
		<where>
			<if test="roomId != null and roomId!=''">
				r.roomId=#{roomId}
			</if>
			<if test="roomTypeId!=null and roomTypeId!=''">
				and r.roomTypeId=#{roomTypeId}
			</if>
			<if test="status!=null and status!=''">
				and roomStatus=#{status}
			</if>
		</where>
		order by roomId
	</select>
	
	
	<insert id="addRoom">
		insert into room(roomId, roomTypeId, image, remark)
		values (#{roomId}, #{roomType.roomTypeId}, #{image}, #{remark})
	</insert>
	
	<update id="updateRoom">
		update room
		<set>
			<if test="roomId!=null">
				roomId=#{roomId},
			</if>
			<if test="roomType!=null">
				roomTypeId=#{roomType.roomTypeId},
			</if>
			<if test="image!=null">
				image=#{image},
			</if>
			<if test="status!=null">
				roomStatus=#{status},
			</if>
			<if test="remark!=null">
				remark=#{remark}
			</if>
		</set>
		where roomId = #{roomId}
	</update>
	
	<delete id="delMulRoom">
		delete
		from room
		where room.roomId in
		<foreach collection="roomIds" index="index" item="item" open="(" separator="," close=")">
			#{item}
		</foreach>
	</delete>

</mapper>