<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.hotel.mapper.RoomTypeMapper">
	
	<select id="getRoomTypeByCond" resultMap="com.example.hotel.mapper.CommonMapper.roomTypeMap">
		select *
		from (SELECT roomType.roomTypeId, roomType.roomTypeName,roomType.residentNums,roomType.bedNums,roomType.price,
		COUNT(room.roomId) roomNums
		FROM roomType
		LEFT JOIN room on (roomType.roomTypeId = room.roomTypeId)
		<where>
			<if test="roomTypeId!=null and roomTypeId!=''">
				roomType.roomTypeId=#{roomTypeId}
			</if>
			<if test="roomTypeName!=null and roomTypeName!=''">
				and roomType.roomTypeName like concat('%', #{roomTypeName},'%')
			</if>
		</where>
		GROUP BY roomType.roomTypeId, roomType.roomTypeName,roomType.residentNums,roomType.bedNums,roomType.price) tmp
		order by roomTypeId
	</select>
	
	
	<insert id="addRoomType" useGeneratedKeys="true" keyProperty="roomTypeId">
		insert into roomType(roomTypeName, residentNums, bedNums, price)
		values (#{roomTypeName}, #{residentNums}, #{bedNums}, #{price})
	</insert>
	
	<update id="updateRoomType">
		update roomType
		<set>
			<if test="roomTypeName!=null">
				roomTypeName=#{roomTypeName},
			</if>
			<if test="residentNums!=null">
				residentNums=#{residentNums},
			</if>
			<if test="bedNums!=null">
				bedNums=#{bedNums},
			</if>
			<if test="price!=null">
				price=#{price}
			</if>
		</set>
		where roomTypeId = #{roomTypeId}
	</update>
	
	<delete id="delMulRoomType">
		delete
		from roomType
		where roomTypeId in
		<foreach collection="roomTypeIds" index="index" item="item" open="(" separator="," close=")">
			#{item}
		</foreach>
	</delete>
</mapper>